# vim temp files
.~
*.swp
*.swo

# notebook checkpoints
notebooks/.ipynb_checkpoints/*

# environment and packages
pydex_env
node_modules

# python cache files
*__pycache__*

# database file
pydex.db

# log files
*.log

.cache/
